@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;

    width: 100%;
    height: 100%;

    background-color: red;

    --navbar-height: 64px;
    --page-height: calc(100vh - var(--navbar-height));
}

.navbar{
    position: relative;
    top: 0px;
    width: 100%;
    height: var(--navbar-height);
    background-color: rgba(35,37,38,.9);
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.navbar>img{
    height: 100%;
    padding: 8px 16px;
}

.navbar>a{
    padding: 0 16px;
    color: white;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.page{
    position: relative;
}

.page>.content{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.page>.content>.full{
    height: 100vh;
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;    
    align-items: center;
}

.page>.content>.full>.sidebar{
    max-width: 80%;
}

.view{
    position: relative;
    width: 100%;
    height: calc(100% - var(--navbar-height));
    overflow-y: scroll;
    overflow-x: hidden;
}

#page1>.bg{
    position: sticky;
    top: 0px;
    width: 100%;
    height: var(--page-height);
}

#page1>.bg>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#page1>.bg>.cover{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(var(--offset));
    right: 0px;

    width: var(--scale);
    height: var(--scale);

    display: flex;
    align-items: flex-end;
    justify-content: center;

    overflow: hidden;
}

#page1>.bg>.cover>.screen{
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

#page1>.bg>.cover>.screen>.divider{
    width: 105%;
    height: 100%;
    background: white;
}

#page1>.bg>.cover>.screen>img{
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

/*#page1>.bg>.cover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: var(--page-height);
    background: white;

    clip-path: url('https://www.sulfurium.net/assets/clip.svg');

    -webkit-mask: url('https://www.sulfurium.net/assets/clip.svg');
    -webkit-mask-size: auto 100%;
    -webkit-mask-position: calc(100vw - var(--page-height)) 0px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-composite: intersect;
}*/